<textarea rows="5" class="form-control" [formControl]="Control" class="form-control" autocomplete="off"
    [placeholder]='PlaceHolder' [ngClass]="{'is-invalid':showErrors()}">
</textarea>

<ng-container *ngIf="showErrors()">

    <div *ngIf="Control.errors.required" class="invalid-feedback">
        Value is required.
    </div>
    <div *ngIf="Control.errors.minlength" class="invalid-feedback">
        Value you entered is: {{Control.errors.minlength.actualLength}} characters long, but it cannot be
        less than: {{Control.errors.minlength.requiredLength}}.
    </div>
    <div *ngIf="Control.errors.maxlength" class="invalid-feedback">
        (20) characters maximum.
    </div>
    <div *ngIf="Control.errors.pattern" class="invalid-feedback">
        Only letters accepted.
    </div>

</ng-container>
