<div class="iq-breadcrumb-one  iq-bg-over iq-over-dark-50" style=" background-image: url(../../../../../../assets/Images/about-us/about.jpeg);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                    <h2 class="title">{{title}}</h2>
                    <ol class="breadcrumb main-bg">
                        <li class="breadcrumb-item"><a routerLink='/Home'>Home</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
