
<app-breadcrumb title="About Us"></app-breadcrumb>

<main id="main" class="site-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 mb-sm-4">

                <div class="text-center iq-title-box iq-title-default">
                    <h2 class="iq-title text-capitalize">
                        Our team
                    </h2>
                    <p class="iq-title-desc">InstaGames is built by one of the most dedicated and hardworking teams participating in PeopleCert's Coding Bootcamp.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-md">

        <div class="row about-us-detail">
            <div class="col-md-4 mb-4">
                <div class="image-box">
                    <img width="265" height="345" src="../../../../assets/Images/about-us/Kostas.jpg" class="img-fluid attachment-large size-large" alt="" loading="lazy">
                </div>

                <div class="icon-box-content">
                    <div class="widget-container">
                        <p class="heading-title size-default">Developer</p>
                    </div>
                    <div class="widget-container">
                        <a href="https://github.com/kwstaskor" target="_blank"> <h4 class="heading-title size-default">Kostas Korliaftis</h4></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="image-box">
                    <img width="265" height="345" src="../../../../assets/Images/about-us/Michael.jpg" class="img-fluid attachment-large size-large" alt="" loading="lazy">
                </div>

                <div class="icon-box-content">
                    <div class="widget-container">
                        <p class="heading-title size-default">Developer</p>
                    </div>
                    <div class="widget-container">
                        <a href="https://github.com/mikedalpha" target="_blank"><h4 class="heading-title size-default">Michael Athanasoglou</h4></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="image-box">
                    <img width="265" height="345" src="../../../../assets/Images/about-us/Konstantina.jpg" class="img-fluid attachment-large size-large" alt="" loading="lazy">
                </div>

                <div class="icon-box-content">
                    <div class="widget-container">
                        <p class="heading-title size-default">Developer</p>
                    </div>
                    <div class="widget-container">
                        <a href="https://github.com/KonstantinaLa" target="_blank"><h4 class="heading-title size-default">Konstantina Lakoumenta</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid p-0">
        <div class="map-container" style=" left: 0px;">

            <div class="container">
                <div class="row about-us-row text-center align-items-center">
                    <div class="col-md-6">
                        <div id="map" class="map-container"></div>
                    </div>
                    <div class="col-md-6">
                        <div class=" text-left iq-title-box iq-title-default">
                            <h2 class="iq-title">
                                Contact Us Here
                            </h2>
                            <p class="iq-title-desc">InstaGames is located in Athens and you can contact us at <a href="mailto:wemakegames21@gmail.com">wemakegames21@gmail.com</a> for any tech-related support and assistance. We love to hear from our InstaGames users.</p>

                            <div class="row mt-2">
                                <div class="col-md-4">
                                    <div class="counter">
                                        <span class="counter-number" data-duration="2000" data-to-value="4" data-from-value="0" data-delimiter=",">1</span>
                                    </div>
                                    <div class="counter-title">Branch</div>
                                </div>

                                <div class="col-md-4">
                                    <div class="iq-contact-list" data-element_type="column">
                                        <div class="counter">
                                            <span class="counter-number" data-duration="2000" data-to-value="4" data-from-value="0" data-delimiter=",">
                                                3
                                            </span>
                                        </div>
                                        <div class="counter-title">Employees</div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="iq-contact-list" data-element_type="column">
                                        <div class="counter">
                                            <span class="counter-number" data-duration="2000" data-to-value="4" data-from-value="0" data-delimiter=",">
                                                1,000+
                                            </span>
                                        </div>
                                        <div class="counter-title">Clients</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="svg-header">
            <div class="svg-mini-header">
                <div class="text-center iq-title-box iq-title-default">
                    <h2 class="iq-title">
                        Created Using The Latest Versions Of:
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center d-flex justify-content-center">

            <div class="col-md-2">
                <div class="image-box">
                    <img src="../../../../assets/Images/about-us/javascript.svg" class="img-fluid" />
                </div>
            </div>

            <div class="col-md-2">
                <div class="image-box">
                    <img src="../../../../assets/Images/about-us/html5-without-wordmark-black-white.svg" class="img-fluid" />
                </div>
            </div>

            <div class="col-md-2">
                <div class="image-box">
                    <img src="../../../../assets/Images/about-us/css-3.svg" class="img-fluid" />
                </div>
            </div>

            <div class="col-md-2">
                <div class="image-box">
                    <img src="../../../../assets/Images/about-us/Csharp.svg" class="img-fluid" />
                </div>
            </div>

            <div class="col-md-2">
                <div class="image-box">
                    <img src="../../../../assets/Images/about-us/unityWhite.svg" class="img-fluid" width="150px" />
                </div>
            </div>
        </div>
    </div>

</main>
<!-- MainContent End-->






